<!DOCTYPE html>
<html>
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <link rel="stylesheet" href="/stylesheets/newfile.css">
  <link rel="stylesheet" href="/stylesheets/styleForSearch.css">
  <link rel="stylesheet" href="https://unpkg.com/@coreui/coreui@3.0.0-beta.4/dist/css/coreui.min.css">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.15.0/umd/popper.min.js" integrity="sha384-L2pyEeut/H3mtgCBaUNw7KWzp5n9+4pDQiExs933/5QfaTh8YStYFFkOzSoXjlTb" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/@coreui/coreui@3.0.0-beta.4/dist/js/coreui.min.js"></script>

  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <link rel="stylesheet" href="/stylesheets/navCss.css">
  <script src="/javascripts/prefixfree.min.js"></script>

  <style>
    /* Additional Styling */

    /* Add background color to the topbar links on hover */
    .topbar a:hover {
      background-color: #fff9f6;
      color: #ffffff;
    }

    /* Add hover effect to the social links */
    .social-links a:hover {
      color: #000000;
      background-color: #3C3735;
    }

    /* Add transition to the logo text */
    .logo span {
      transition: .15s linear color, .15s linear transform;
    }

    .logo a:hover span {
      color: #DF4500;
      transform: scale(1.1);
    }

    /* Add hover effect to the main navigation links */
    .main-nav a:hover {
      color: #fff;
      background-color: #0c0b0b;
    }

    /* Add hover effect to the pagination links */
    .pagination>li>a:hover,
    .pagination>li>span:hover {
      color: #fff;
      background-color: #337ab7;
    }
    
    /* Make the topbar transparent */
    .navbar.navsticky {
      background-color: black;
    }
    .image{
          width: 172px;
          opacity: 20;
    }
    
      .bg-dark {
    background-color: #dadbdb!important;
}
    .nav-link{
      color: #000000;
    }
    .navbar-dark .navbar-nav .nav-link {
    color: rgb(0 0 0 / 50%);
    
}
  </style>
</head>

<body>
  <nav class="navbar navsticky navbar-expand-md navbar-dark bg-dark">
    <a href="#" class="navbar-brand">
      <img src="/images/cmrlogo.png" alt="CMR Logo" class="image">
    </a>

    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a href="/detailView" class="nav-link">Admin</a>
        </li>
        <li class="nav-item">
          <a href="/logout" class="nav-link">Logout</a>
        </li>
      </ul>
    </div>
  </nav>

  <!-- Your page content goes here -->

  <!-- Bootstrap JS -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"></script>
</body>
</html>
